@import "tailwindcss";

@theme {
    --color-primary: #8b5cf6;
    --color-primary-dark: #7c3aed;
    --color-background-light: #f9fafb;
    --color-background-dark: #0f172a;
    --color-surface-light: #ffffff;
    --color-surface-dark: #1e293b;
    --color-card-dark: #1e293b;
    --color-deep-blue: #172554;

    --font-display: Inter, sans-serif;
    --font-body: Inter, sans-serif;

    --radius-DEFAULT: 1rem;

    --animate-bounce-slow: bounce 3s infinite;
}

@layer components {
    .glass-panel {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar for overflow-x sections */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(139, 92, 246, 0.3);
    /* primary color with opacity */
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(139, 92, 246, 0.5);
}